.login-body {
    background-image: linear-gradient(235deg, #565867, #191a25);
    background-size: cover;
    height: 100vh;

    .logo {
        margin-top: 30px;

        .logo-text {
            margin-top: 10px;
        }
    }

    .login-panel {
        width: 650px;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -325px;
        margin-top: -260px;

        .left-side {
            padding-bottom: 0;
        }
        
        .login-image {
            height: 100%;
            width: 100%;
        }

        .right-side {
            padding: 100px 20px;
        }

        .p-col-12.container {
            margin-bottom: 20px;
        }
        
        button {
            display: block;
            margin-bottom: 20px;
        }
        
        
    }
}
