<ng-progress #progressBar></ng-progress>
<div class="login-body">
    <div class="p-grid p-nogutter">
        <div class="p-col-12" style="text-align:center"><img class="logo" src="assets/layout/images/logo.png"></div>
        <div class="p-col-12" style="text-align:center"><img class="logo-text" src="assets/layout/images/logo-text.png">
        </div>
    </div>
    <div class="login-panel ">
        <div class="p-grid">
            <div class="p-col-12 p-lg-6 left-side"><img class="login-image"
                    src="assets/layout/images/login/background.png"></div>
            <div class="p-col-12 p-lg-6 right-side p-fluid">
                <div class="p-col-12 container">
                    <h3>Welcome!</h3>
                    <h2>Sign in to Admin panel</h2>
                </div>
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class="p-col-12">
                        <div class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input pInputText autocomplete="off" placeholder="Username or email" type="text" formControlName="email">
                        </div>
                        <small [hidden]="controls.email.valid || controls.email.untouched || form.disabled"
                            class="p-invalid">Username is empty.</small>
                    </div>
                    <div class="p-col-12">
                        <div class="p-input-icon-left">
                            <i class="pi pi-lock"></i>
                            <input pInputText autocomplete="off" placeholder="Password" type="password" formControlName="password">
                        </div>
                        <small [hidden]="controls.password.valid || controls.password.untouched || form.disabled"
                            class="p-invalid">Password is empty.</small>
                    </div>
                    <div class="p-col-12 button-container">
                        <button class="p-button-raised p-button p-component" label="Sign In" pbutton="" type="submit"
                            [disabled]="form.invalid || form.disabled" tabindex="0">
                            <span class="p-button-label">Sign In</span>
                        </button>
                    </div>
                    <p-message [hidden]="!error" severity="info" [(text)]="error" styleClass="p-mr-2 p-ml-2"></p-message>
                </form>
            </div>
        </div>
    </div>
</div>