<div class="layout-menu">
    <p-menubar [model]="menu">
        <ng-template pTemplate="start">
            <div class="p-d-flex logo p-ai-center">
                <img alt="logo" class="logo" id="app-logo" src="assets/layout/images/logo.png">
                <img alt="logo-text" class="logo" id="app-logo-text" src="assets/layout/images/logo-text.png">
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="p-d-flex p-flex-row">
                <p-button label="Trip Order" icon="pi pi-plus" styleClass="p-button-outlined p-mr-4" (click)="onNewOrder()"></p-button>
                <p-button label="Driving Requests" icon="pi pi-map-marker"  [badge]="pendingTrips.length" badgeClass="p-badge-info" styleClass="p-button-outlined p-mr-4" (click)="requestsOverlay.toggle($event)"></p-button>
                <p-button label="Messages" icon="pi pi-comment"  [badge]="newMessageCount" styleClass="p-mr-2" (click)="messagesOverlay.toggle($event)"></p-button>
                <p-button label="Alerts" icon="pi pi-bell" [badge]="newAlertCount" styleClass="p-button-warning" badgeClass="p-badge-danger" (click)="alertsOverlay.toggle($event)"></p-button>

                <p-button icon="fa fa-sign-out" class="p-ml-3" styleClass="p-button-rounded p-button-success"
                        pTooltip="Sign out" tooltipPosition="top" (click)="onSignoutClicked()" ></p-button>
            </div>
            
        </ng-template>
    </p-menubar>
    
</div>

<div class="layout-content">
    <router-outlet></router-outlet>
</div>

<p-overlayPanel #messagesOverlay [style]="{'max-width': '50%'}" (onHide)="onHideMessages()">
    <ng-template pTemplate>
        <p-table [value]="messages" [paginator]="messages.length > 5" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Content</th>
                    <th style="width: 70px"></th>
                    <th>Time</th>
                    <th style="width: 100px"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-message>
                <tr>
                    <td>{{message.content}}</td>
                    <td><span  *ngIf="isNewMessage(message)" class="text-badge badge-magenta">New</span></td>
                    <td>{{message.created_at | amTimeAgo: true}} ago</td>
                    <td></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">There are no new messages yet.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #alertsOverlay [style]="{'max-width': '50%'}" (onHide)="onHideAlerts()">
    <ng-template pTemplate>
        <p-table [value]="alerts" [paginator]="alerts.length > 5" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Content</th>
                    <th style="width: 70px;"></th>
                    <th>Time</th>
                    <th style="width: 100px"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alert>
                <tr>
                    <td>{{alert.content}}</td>
                    <td><span *ngIf="isNewAlert(alert)" class="text-badge badge-magenta">New</span></td>
                    <td>{{alert.created_at | amTimeAgo: true}} ago</td>
                    <td></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">There are no new alerts yet.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #requestsOverlay [style]="{'max-width': '50%'}">
    <ng-template pTemplate>
        <p-table [value]="pendingTrips" [paginator]="pendingTrips.length > 3" [rows]="3">
            <ng-template pTemplate="header">
                <tr>
                    <th>Driver</th>
                    <th>Destination</th>
                    <th>Analysis Result</th>
                    <th>Requested At</th>
                    <th style="width: 150px">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tripData let-rowIndex="rowIndex">
                <tr>
                    <td>{{tripData.driver.full_name}}</td>
                    <td>{{tripData.trip.destination}}</td>
                    <td>{{tripData.record.analysis_result || 'Processing...'}}</td>
                    <td>{{tripData.trip.requested_at | amTimeAgo: true}} ago</td>
                    <td>
                        <div class="p-d-flex p-flex-column">
                            <button pButton pRipple type="button" label="Approve" (click)="onApprove(tripData)" class="p-button-rounded p-mb-2 p-button-sm"></button>
                            <button pButton pRipple type="button" label="Reject" (click)="onReject(tripData)" class="p-button-rounded p-button-danger p-button-sm"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">There are no driving requests now.</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-toast position="bottom-center" key="sos" (onClose)="onRejectSos()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirmSos(message)" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onRejectSos()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
