.logo {
    max-height: 48px;
}

.layout-content {
    padding: 24px
}

:host ::ng-deep p-menubar {
    width: 100%;

    .p-menubar-start {
        padding-left: 32px;
        padding-right: 32px;
    }

    .p-menubar-end {
        padding-right: 32px;
    }
}
