<ng-progress #progressBar></ng-progress>

<p-breadcrumb [model]="menuitems" class="p-m-1 p-p-1 p-m-lg-3 p-b-lg-3"></p-breadcrumb>

<div class="card">
    <p-table #dt [value]="messages" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        [(selection)]="selectedMessages"
        [globalFilterFields]="['content', 'category']"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <div>
                    <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedMessages()" [disabled]="!selectedMessages || !selectedMessages.length"></button>
                </div>>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 50px">#</th>
                <th>Publisher</th>
                <th>Content</th>
                <th>Category</th>
                <th>Created At</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-message>
            <tr>
                <td>
                    <p-tableCheckbox [value]="message"></p-tableCheckbox>
                </td>
                <td>{{message.message_id}}</td>
                <td>{{message.publisher_name}}</td>
                <td>{{message.content}}</td>
                <td><span [class]="getBadge(message.category).badgeStyle">{{getBadge(message.category).label}}</span></td>
                <td>{{message.created_at | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{messages ? messages.length : 0 }} messages.
            </div>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">There are no messages yet.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

