.message-badge.category-driver_register {
    background-color: #b3e5fc;
    color: #23547b;
}
.message-badge.category-driving_request {
    background-color: #ffcdd2;
    color: #c63737;
}
.message-badge.category-approved {
    background-color: #ffdde2;
    color: #008c76;
}
.message-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}