<ng-progress #progressBar></ng-progress>

<p-breadcrumb [model]="menuitems" class="p-m-1 p-p-1 p-m-lg-3 p-b-lg-3"></p-breadcrumb>

<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="onNewCall()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <label class="p-mr-3">Call duration:</label>
        <p-dropdown [options]="durations" [(ngModel)]="selectedDuration" optionLabel="label" optionValue="value"
            (onChange)="onSelectedDurationChanged($event)"></p-dropdown>
    </ng-template>
</p-toolbar>

<p-table [value]="calls" dataKey="call_id">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th>Summary</th>
            <th>Drivers</th>
            <th style="width: 100px">Default</th>
            <th style="width: 150px">Uploaded at</th>
            <th></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-call let-expanded="expanded" let-rowIndex="rowIndex">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="call" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{ call.summary }}</td>
            <td>
                <p-avatarGroup styleClass="p-mb-3">
                    <p-avatar *ngFor="let driver of call.drivers; let i = index"
                        label="{{firstLetter(driver)}}" shape="circle" size="large"
                        pTooltip="{{driver?.full_name || 'DELETED'}}" tooltipPosition="top"></p-avatar>
                    <p-avatar *ngIf="call.drivers && call.driver_ids.length > call.drivers.length" 
                        label="+{{call.driver_ids.length - call.drivers.length}}" shape="circle" size="large"
                        [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
                </p-avatarGroup>
            </td>
            <td><i *ngIf="call.is_default" class="pi pi-check-circle true-icon"></i></td>
            <td>{{ call.created_at | date: 'MM/dd/yyyy'}}</td>
            <td style="text-align:right">
                <button pButton pRipple type="button" icon="pi pi-pencil" label="Edit" class="p-button-rounded p-button-text" (click)="onEditCall(call)"></button>
                <button pButton pRipple type="button" icon="pi pi-times" label="Delete" class="p-button-rounded p-button-text p-button-danger" (click)="onDeleteCall(rowIndex)"></button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-call>
        <tr>
            <td colspan="6">
                <div class="p-p-3">
                    <p-table [value]="call.dialogs">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">#</th>
                                <th>Description</th>
                                <th>Audio file</th>
                                <th width="200px">Answer required</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-dialog let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowIndex + 1 }}</td>
                                <td>{{ dialog.message }}</td>
                                <td>
                                    <audio controls [src]="dialog.safe_url" type="audio/mpeg"></audio>
                                </td>
                                <td><i class="pi" [ngClass]="{'true-icon pi-check-circle': dialog.answerRequired, 'false-icon pi-times-circle': !dialog.answerRequired}"></i></td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no message for this product yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog [(visible)]="editCall" [style]="{width: '720px'}" header="Call Detail" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <h3>{{editCall.summary}}</h3>

        <small class="p-mt-3 p-error" >Pick drivers who will answer this call.</small>

        <p-pickList [source]="editCall.drivers.available" [target]="editCall.drivers.selected" 
            sourceHeader="Availalbe ({{editCall.drivers.available.length}})" targetHeader="Selected ({{editCall.drivers.selected.length}})" 
            filterBy="full_name" sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
            [dragdrop]="true" [responsive]="true">
            
            <ng-template let-driver pTemplate="item">
                <div class="p-d-flex p-ai-center">
                    <p-avatar label="{{firstLetter(driver)}}" styleClass="p-mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                    <h4 style="margin: 0">{{driver?.full_name || 'DELETED'}}</h4>
                </div>
            </ng-template>
        </p-pickList>

        <div class="p-d-flex p-ai-center">
            <p-inputSwitch class="p-mt-3 p-mb-3" [(ngModel)]="editCall.is_default"></p-inputSwitch>
            <h4 class="p-ml-3">Make a default question</h4>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onHideEditDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSaveEditCall()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="newCall" [style]="{width: '720px'}" header="Call Detail" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="Summary" [(ngModel)]="newCall.summary" />
            <small class="p-error" *ngIf="newCall.submitted && !newCall.summary.trim()">Summary is required.</small>
        </div>
        
        <p-table [value]="newCall.dialogs" [reorderableColumns]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:3rem"></th>
                    <th>Description</th>
                    <th width="100px">Answer Required</th>
                    <th>Audio File</th>
                    <th width="100px"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dialog let-rowIndex="rowIndex">
                <tr [pReorderableRow]="rowIndex">
                    <td>
                        <span class="pi pi-bars" pReorderableRowHandle></span>
                    </td>
                    <td>
                        <textarea [rows]="1" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="dialog.message"></textarea>
                        <small class="p-error" *ngIf="newCall.submitted && !dialog.message.trim()">Description is required.</small>
                    </td>
                    <td>
                        <div *ngIf="rowIndex === newCall.dialogs.length - 1">
                            <input type="checkbox" [disabled]="newCall.dialogs.length === 1" [(ngModel)]="dialog.answerRequired" id="ar{{rowIndex}}" name="ar{{rowIndex}}">
                        </div>
                        
                    </td>
                    <td>
                        <input type="file"
                            id="file{{rowIndex}}"
                            (change)="handleFileInput($event.target.files, rowIndex)">
                        <small class="p-error" *ngIf="newCall.submitted && !dialog.file" accept="audio/mp3,audio/*;capture=microphone">File is required.</small>
                    </td>
                    <td style="text-align:right">
                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger" (click)="onDeleteDialog(rowIndex)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        <button pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success p-mt-3" (click)="onNewDialog()"></button>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onHideNewDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSaveNewCall()"></button>
    </ng-template>
</p-dialog>
