<ng-progress #progressBar></ng-progress>

<p-breadcrumb [model]="menuitems" class="p-m-1 p-p-1 p-m-lg-3 p-b-lg-3"></p-breadcrumb>

<div class="card">
    <p-table [value]="records" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 200px">Driver</th>
                <th>Analysis Result</th>
                <th style="width: 100px">Last</th>
                <th>Uploaded At</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
            <tr>
                <td>{{record.driver.full_name}}</td>
                <td>{{record.analysis_result}}</td>
                <td><i class="pi" [ngClass]="{'true-icon pi-check-circle': record.latest}"></i></td>
                <td>{{record.uploaded_at | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                <td>
                    <button pButton pRipple type="button" label="Play" icon="pi pi-play" class="p-button-rounded p-button-text" (click)="onPlayRecord(record)"></button>
                    <button pButton pRipple type="button" label="Download" icon="pi pi-download" class="p-button-rounded p-button-text" (click)="onDownloadRecord(record)"></button>
                    <button *ngIf="!record.latest" pButton pRipple type="button" label="Delete" icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger" (click)="onDeleteRecord(record)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{record ? record.length : 0 }} records.
            </div>
        </ng-template>
    </p-table>
</div>

