<div class="exception-body notfound"><img alt="diamond-layout" class="logo" src="../../../assets/layout/images/logo.png">
    <div class="exception-content">
        <div class="exception-title">NOT FOUND</div>
        <div class="exception-detail">Requested resource is not available.</div><a href="#/">Go to Dashboard</a>
    </div>
</div>