.login-body {
    background: #f8f9fa;
    color: #495057;

    
    .login-wrapper {
        display: -ms-flexbox;
        display: flex;
		height: 100vh;
		
		.login-panel {
			width: 30%;
			height: 100%;
			text-align: center;
			padding: 40px 20px;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-direction: column;
			flex-direction: column;

			.logo {
				height: 50px;
			}

			.login-form {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				align-items: center;
				-ms-flex-direction: column;
				flex-direction: column;
			}

			p {
				font-weight: 600;
				margin: 0;
				color: #6c757d;
				margin-bottom: 32px;
			}

			input {
				width: 85%;
				max-width: 310px;
				margin-bottom: 20px;
			}
		}

		@media (min-width: 993px) {
			.login-image 
			{
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url("../../../assets/layout/images/login/background_wide.png");
			}
		}

		.login-image {
			width: 70%;
			height: 100%;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-direction: column;
			flex-direction: column;
			padding: 40px 20px;

			.login-image-content > h1 {
				font-size: 60px;
				margin: 0;
				color: #ffffff;
			}
			
			.login-body .login-wrapper .login-image .login-image-content h3 {
				font-size: 24px;
				color: #ffffff;
				margin: 0;
				font-weight: 600;
				margin-top: 32px;
			}
			
		}
    }
}
