<div class="login-body">
	<div class="login-wrapper">
		<div class="login-panel"><img alt="diamond-layout" class="logo" src="assets/layout/images/logo.png">
			<div class="login-form">
				<h2>Create Your Free Account</h2>
				<p>Already have an account? <a href="#">Login</a></p>
				<input id="first_name" placeholder="First Name" class="p-inputtext p-component">
				<input id="last_name"  placeholder="Last Name" class="p-inputtext p-component">
				<input id="email"  placeholder="Email" class="p-inputtext p-component">
				<input id="phone_number" placeholder="Phone Number" class="p-inputtext p-component">
				<input id="device_imei" placeholder="Device IMEI" class="p-inputtext p-component">
				<input id="password" placeholder="Password" class="p-inputtext p-component">
				<button label="CONTINUE" pbutton="" type="button" class="p-button p-component">
					<span class="p-button-label">CONTINUE</span>
				</button>
			</div>
			<p>A problem? <a href="#">Click here</a> and let us help you.</p>
		</div>
		<div class="login-image">
			<div class="login-image-content">
				<h1>Some title</h1>
				<h1>here</h1>
				<h3>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Donec posuere velit nec enim <br> sodales, nec
					placerat erat tincidunt. </h3>
			</div>
		</div>
	</div>
</div>