<ng-progress #progressBar></ng-progress>

<p-breadcrumb [model]="menuitems" class="p-m-1 p-p-1 p-m-lg-3 p-b-lg-3"></p-breadcrumb>

<div class="card">
    <p-table [value]="apps" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <div>
                    <button pButton pRipple label="Upload" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="onNewApp()"></button>
                </div>
                <span class="p-input-icon-left">
                    <!-- <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." /> -->
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Summary</th>
                <th>Version</th>
                <th>Uploaded At</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-app>
            <tr>
                <td>{{app.summary}}</td>
                <td>{{app.version}}</td>
                <td>{{app.uploaded_at | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                <td>
                    <button pButton pRipple type="button" label="Download" icon="pi pi-download" class="p-button-rounded p-button-text" (click)="onDownloadApp(app)"></button>
                    <button pButton pRipple type="button" label="Delete" icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger" (click)="onDeleteApp(app)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{record ? record.length : 0 }} records.
            </div>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="newApp" [style]="{width: '720px'}" header="App Info" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="Summary" [(ngModel)]="newApp.summary" />
            <small class="p-error" *ngIf="newApp.submitted && !newApp.summary.trim()">Summary is required.</small>
        </div>
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="Version (e.g., 1.0)" [(ngModel)]="newApp.version" />
            <small class="p-error" *ngIf="newApp.submitted && !newApp.version.trim()">Version is required.</small>
        </div>
        <div>
            <input type="file"
                (change)="handleFileInput($event.target.files)">
            <small class="p-error" *ngIf="newApp.submitted && !newApp.file" accept=".apk">Apk file is required.</small>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onHideNewDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSaveNewApp()"></button>
    </ng-template>
</p-dialog>
