<ng-progress #progressBar></ng-progress>

<p-breadcrumb [model]="menuitems" class="p-m-1 p-p-1 p-m-lg-3 p-b-lg-3"></p-breadcrumb>

<div class="card">
    <p-table #dt [value]="trips" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        [globalFilterFields]="['driver.full_name', 'departure', 'destination', 'analysis_result']"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <div>
                    <p-selectButton [options]="options" [(ngModel)]="selectedOption" 
                        (onChange)="onSelectedOptionChanged($event)"
                        optionLabel="label" optionValue="value"></p-selectButton>
                </div>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Driver</th>
                <th>Departure</th>
                <th>Destination</th>
                <th>Analysis Result</th>
                <th>Approved</th>
                <th>Started at</th>
                <th>Finished At</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trip>
            <tr>
                <td>{{trip.driver.full_name}}</td>
                <td>{{trip.departure}}</td>
                <td>{{trip.destination}}</td>
                <td>{{trip.analysis_result}}</td>
                <td><i class="pi" [ngClass]="{'true-icon pi-check-circle': trip.approved}"></i></td>                
                <td>{{trip.requested_at | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                <td>{{trip.finished_at | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                <td>
                    <button pButton pRipple type="button" label="Delete" icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger" (click)="onDeleteTrip(trip)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{trips ? trips.length : 0 }} trips.
            </div>
        </ng-template>
    </p-table>
</div>

