<div class="p-mb-3">
  <button [disabled]="!isStreaming" pButton pRipple (click)="toggle()" type="button" label="Switch Camera" class="p-button-sm p-button-outlined p-button-secondary"></button>
</div>

<div style="background-color: black;">
  <video #video autoplay width="100%" height="480px" controls></video>
</div>

