<ng-progress #progressBar></ng-progress>

<p-breadcrumb [model]="menuitems" class="p-m-1 p-p-1 p-m-lg-3 p-b-lg-3"></p-breadcrumb>

<div class="card">
    <p-table #dt [value]="orders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        [globalFilterFields]="['driver.full_name', 'destination']"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <div>
                  <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="onNewOrder()"></button>
                </div>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Driver</th>
                <th>Destination</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Expired at</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>{{order.driver.full_name}}</td>
                <td>{{order.destination}}</td>
                <td><span [class]="getBadge(order.status).badgeStyle">{{getBadge(order.status).label}}</span></td>
                <td>{{order.created_at | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                <td>{{order.expired_at | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                <td>
                  <button *ngIf="order.status === 'pending'" pButton pRipple type="button" label="Cancel" icon="pi pi-ban" class="p-button-rounded p-button-text p-button-warning" (click)="onCancelOrder(order)"></button>
                  <button pButton pRipple type="button" label="Delete" icon="pi pi-times-circle" class="p-button-rounded p-button-text p-button-danger" (click)="onDeleteOrder(order)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{orders ? orders.length : 0 }} orders.
            </div>
        </ng-template>
    </p-table>
</div>

