.pac-container {
    z-index: 1051 !important;
}


/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #f4f3f8;
}

.badge-magenta {
    background-color: #d80073;
    color: #ffffff;
}

.badge-cyan {
    background-color: #1ba1e2;
    color: #ffffff;
}

.badge-emerald {
    background-color: #008a00;
    color: #ffffff;
}

.badge-violet {
    background-color: #aa00ff;
    color: #ffffff;
}

.badge-orange {
    background-color: #fa6800;
    color: #ffffff;
}

.badge-yellow {
    background-color: #e3c800;
    color: #ffffff;
}

.badge-olive {
    background-color: #6d8764;
    color: #ffffff;
}

.badge-mauve {
    background-color: #76608a;
    color: #ffffff;
}



.text-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.record-info {
    .header {
        font-weight: bold;
    }

    .content {
        margin-top: 10px;
        min-width: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        // justify-content: start;

        img {
            margin-right: 20px;
            width: 24px;
            height: 24px;
        }
    }

    .footer {
        margin-top: 10px;
        font-size: small;
    }
}