<div class="p-fluid">
    <div class="p-field p-grid">
        <label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Driver</label>
        <div class="p-col-12 p-md-10">
          <p-autoComplete [(ngModel)]="selectedDriver" field="full_name" [suggestions]="drivers" placeholder="Select driver" (completeMethod)="searchDriver($event)" [dropdown]="true"></p-autoComplete>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="lastname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Destination</label>
        <div class="p-col-12 p-md-10">
          <input pInputText placeholder="Input destination" #inputPlace>
        </div>
    </div>
</div>

<div class="p-mt-3">
  <p-gmap 
      [options]="mapOptions" 
      [overlays]="[marker]" 
      (onMapReady)="onMapReady($event)"
      [style]="{'width':'720px','height':'400px'}" >
  </p-gmap>
</div>

<div class="p-mt-3">
    <p-button icon="pi pi-upload" styleClass="p-button-success" label="Submit" (click)="onSubmitOrder()"></p-button>
</div>
