
<div class="layout-map">
    <p-gmap 
        [options]="mapOptions" 
        [overlays]="mapOverlays" 
        (onOverlayClick)="onMapOverlayClicked($event)"
        (onMapReady)="onMapReady($event)"
        [style]="{'width':'100%','height':'100%'}" ></p-gmap>
</div>

<div class="layout-driver-list">
    <p-listbox 
        [options]="driverListData" 
        optionLabel="full_name"
        optionValue="driver_id"
        [style]="{'height': '100%'}"
        [listStyle]="{'max-height': 'calc(100% - 120px)'}"
        (onChange)="onDriverListSelectionChanged($event)"
        [filter]="true"
        filterPlaceHolder="Search drivers by name">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-justify-between" style="width: 100%">
                <p-selectButton  
                    [options]="filters" 
                    [(ngModel)]="selectedFilters" 
                    multiple="true" 
                    optionLabel="name"
                    optionValue="value"
                    (onChange)="onSelectedFilterChanged($event)">
                    <ng-template let-item>
                        <i class="{{item.icon}}" pTooltip="{{item.name}}" tooltipPosition="top"></i>
                    </ng-template>
                </p-selectButton >
                <button pButton (click)="onClearFilters($event)" pRipple type="button" label="All" class="p-button-sm p-button-outlined p-button-secondary"></button>
            </div>
        </ng-template>
        <ng-template let-driver pTemplate="item">
            <div class="p-d-flex p-ai-center">
                <p-avatar label="{{firstLetter(driver.info)}}" styleClass="p-mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
                <div>
                    <h4 style="margin: 0">{{driver.full_name}}</h4>
                    <span style="font-size: 10px;" [class]="getStatusBadge(driver.info.status).badgeStyle">
                        {{getStatusBadge(driver.info.status).label}}
                    </span>
                    <span *ngIf="driver.info.status === 'on_trip' && driver.status != null" 
                        class="p-ml-2" style="font-size: 10px;" [class]="getTagBadge(driver.status.tag).badgeStyle">
                        {{getTagBadge(driver.status.tag).label}}
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            
        </ng-template>

    </p-listbox>
</div>

<p-sidebar position="right" [(visible)]="displaySidebar">
    <h2>Driver Information</h2>

    <div *ngIf="selectedViewModel && displaySidebar">
        <div class="p-grid p-mt-2">
            <div class="p-col-3">
                <span>Name</span>
            </div>
    
            <div class="p-col-9" style="font-weight: bold;">
                {{selectedViewModel.info.full_name}}
            </div>
        </div>
        
        <div class="p-grid p-mt-2">
            <div class="p-col-3">
                <span>Member since</span>
            </div>
    
            <div class="p-col-9" style="font-weight: bold;">
                <div>{{selectedViewModel.info.created_at | amTimeAgo: true}} ago</div>
            </div>
        </div>

        <div *ngIf="selectedViewModel.trip" class="p-grid p-mt-2">
            <div class="p-col-3">
                <span>Departure</span>
            </div>
    
            <div class="p-col-9" style="font-weight: bold;">
                <div>{{selectedViewModel.trip.departure}}</div>
                <div class="p-mt-2">{{selectedViewModel.trip.src_latitude}}, {{selectedViewModel.trip.src_longitude}}</div>
                <div class="p-mt-2">{{selectedViewModel.trip.requested_at | amTimeAgo: true}} ago</div>
            </div>
        </div>

        <div *ngIf="selectedViewModel.trip" class="p-grid p-mt-2">
            <div class="p-col-3">
                <span>Destination</span>
            </div>
    
            <div class="p-col-9" style="font-weight: bold;">
                <div>{{selectedViewModel.trip.destination}}</div>
                <div class="p-mt-2">{{selectedViewModel.trip.dst_latitude}}, {{selectedViewModel.trip.dst_longitude}}</div>
            </div>
        </div>

        <div class="p-grid p-mt-2">
            <div class="p-col-3">
                <span>Location</span>
            </div>
    
            <div class="p-col-9 ml-3" style="font-weight: bold;">
                <div>{{selectedViewModel.location.latitude}}, {{selectedViewModel.location.longitude}}</div>
                <div class="p-mt-2">Updated {{selectedViewModel.location.updated_at | amTimeAgo: true}} ago</div>
            </div>    
        </div>

        <div *ngIf="selectedViewModel.status" class="p-grid p-mt-2">
            <div class="p-col-3">
                <span>Status</span>
            </div>
    
            <div class="p-col-9 ml-3" style="font-weight: bold;">
                <span style="font-size: 10px;" [class]="getTagBadge(selectedViewModel.status.tag).badgeStyle">
                        {{getTagBadge(selectedViewModel.status.tag).label}}
                </span>
                <!-- <div class="p-mt-2">{{selectedViewModel.status.updated_at | amTimeAgo: true}} ago</div> -->
            </div>    
        </div>
       
        <div class="p-grid p-mt-3">
            <div class="p-col-6">
                <button pButton pRipple (click)="onOpenLiveStream(selectedViewModel)" type="button" label="Open Livestream" class="p-button-sm p-button-outlined p-button-secondary"></button>
            </div>
            <div class="p-col-6">
                <button *ngIf="selectedViewModel.trip" pButton pRipple (click)="onOpenUserData(selectedViewModel)" type="button" label="View Data" class="p-button-sm p-button-outlined p-button-secondary"></button>
            </div>
        </div>
    </div>
</p-sidebar>
