:host ::ng-deep .gm-style-iw > button {
    display: none !important;
}

.layout-driver-list {
    position: absolute;
    top: calc(56px + 32px);
    bottom: 32px;
    width: 320px;
}

.layout-map {
    position: absolute;
    top: calc(56px + 32px);
    left: 320px + 64px;
    right: 32px;
    bottom: 32px;
}

.driver-badge.status-normal {
    background-color: #b3e5fc;
    color: #23547b;
}
.driver-badge.status-waiting_approval {
    background-color: #773328;
    color: #ffffff;
}
.driver-badge.status-emergency {
    background-color: #ffcdd2;
    color: #c63737;
}
.driver-badge.status-on_trip {
    background-color: #4827f9;
    color: #ffffff;
}
.driver-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
