<ng-progress #progressBar></ng-progress>

<p-breadcrumb [model]="menuitems" class="p-m-1 p-p-1 p-m-lg-3 p-b-lg-3"></p-breadcrumb>

<div class="card">
    <p-table #dt [value]="drivers" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        [globalFilterFields]="['user_name', 'full_name', 'email', 'phone_number', 'imei']"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <div>
                    <button pButton pRipple label="Register" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="onNewDriver()"></button>
                </div>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Company Id</th>
                <th>Device Id</th>
                <th>Active</th>
                <th>Status</th>
                <th>Registered on</th>
                <th>Verified</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-driver>
            <tr>
                <td>{{driver.user_name}}</td>
                <td>{{driver.full_name}}</td>
                <td>{{driver.email}}</td>
                <td>{{driver.phone_number}}</td>
                <td>{{driver.company_id}}</td>
                <td>{{driver.imei}}</td>
                <td><i class="pi" [ngClass]="{'true-icon pi-check-circle': driver.active}"></i></td>
                <td><span [class]="getBadge(driver.status).badgeStyle">{{getBadge(driver.status).label}}</span></td>
                <td>{{driver.created_at | date: 'MM/dd/yyyy'}}</td>
                <td><i class="pi" [ngClass]="{'true-icon pi-check-circle': driver.verified}"></i></td>
                <td>
                    <button *ngIf="driver.status === 'on_trip'" pButton pRipple type="button" label="View" class="p-button-rounded p-button-text" (click)="onViewUserData(driver)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <tr>
                <td colspan="11">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{drivers ? drivers.length : 0 }} drivers.
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="11">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        No drivers registered yet
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="newDriver" [style]="{width: '720px'}" header="Driver Info" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="First name" [(ngModel)]="newDriver.first_name" />
            <small class="p-error" *ngIf="newDriver.submitted && !newDriver.first_name.trim()">First name is required.</small>
        </div>
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="Last name" [(ngModel)]="newDriver.last_name" />
            <small class="p-error" *ngIf="newDriver.submitted && !newDriver.last_name.trim()">Last name is required.</small>
        </div>
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="Company Id" [(ngModel)]="newDriver.company_id" />
            <small class="p-error" *ngIf="newDriver.submitted && !newDriver.company_id.trim()">Company Id is required.</small>
        </div>
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="Username" [(ngModel)]="newDriver.user_name" />
            <small class="p-error" *ngIf="newDriver.submitted && !newDriver.user_name.trim()">Username is required.</small>
        </div>
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="Email" [(ngModel)]="newDriver.email" />
            <small class="p-error" *ngIf="newDriver.submitted && !newDriver.email.trim()">Email is required.</small>
        </div>
        <div>
            <input type="text" class="p-mt-3 p-mb-3" pInputText placeholder="Phone number" [(ngModel)]="newDriver.phone_number" />
            <small class="p-error" *ngIf="newDriver.submitted && !newDriver.phone_number.trim()">Phone number is required.</small>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onHideNewDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSaveNewDriver()"></button>
    </ng-template>
</p-dialog>